.terms-header {
  padding: 16px 32px;
  border-bottom: 1px solid #eee;
}

.terms-content {
  max-width: 900px;
  margin: 40px auto;
  margin-top: 0;
  padding: 0 20px;
  line-height: 1.7;
}

.terms-content h1 {
  margin-bottom: 10px;
  font-family: Barlow, -apple-system, Roboto, Helvetica, sans-serif;
  font-size: 2.5em;
  font-weight: 700;
}

.updated-date {
  color: #777;
  font-size: 0.9rem;
  margin-bottom: 30px;
}

.terms-content h2 {
  margin-top: 30px;
  font-family: Barlow, -apple-system, Roboto, Helvetica, sans-serif;
}

.terms-content ul {
  padding-left: 20px;
}

.terms-content ul li {
  font-family: Montserrat, -apple-system, Roboto, Helvetica, sans-serif;
}

@media (max-width: 600px) {
  .terms-content {
    padding: 0 30px;
  }
}
